:root{
  --primary:#29d9d5;
  --secondary:#d81e5b;
  --dark:#111;
  --light:#fff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}
body{
  background-color: var(--light);

}
.App{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
